### 수집과 분석 
* 수집
* 분석
* ***저장***
* ~~머신러닝~~
  * alt + enter = cell 실행 + cell 추가
  * ctl + enter = cell 실행
  * shift + enter = cell 실행 + 커서 아래로 ( 하위 셀이 없다면 추가도 해줌 )
* [jupyter equation](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Typesetting%20Equations.html)  
* This site was built using [GitHub Pages](https://pages.github.com/).

Text that is not a quote

> Text that is a quote

\begin{equation*}
\left( \sum_{k=1}^n a_k b_k \right)^2 \leq \left( \sum_{k=1}^n a_k^2 \right) \left( \sum_{k=1}^n b_k^2 \right)
\end{equation*}

\begin{gather*}
a_1=b_1+c_1\\
a_2=b_2+c_2-d_2+e_2
\end{gather*}

| This | is   |
|------|------|
|   a  | table|

In [39]:
lang = 'python'
myStr = '{} 언어'.format(lang)
print(type(myStr))
myStr

<class 'str'>

'python 언어'

In [111]:
myStr2 = f'{lang} 언어'
myStr2

'python 언어'

In [43]:
val = 56784949494
format_val = f'{val:,}'
format_val

'56,784,949,494'

In [45]:
format_val = f'{val:.2f}'
format_val

'56784949494.00'

In [47]:
## dict 연습
my_dict = {
    'name': '파이썬'
}
#propert set
my_dict['addr'] = '서울'
print(type(my_dict))
print(my_dict)
#property get
print(my_dict['addr'])

<class 'dict'>
{'name': '파이썬', 'addr': '서울'}
서울

In [49]:
for k in my_dict.keys():
    print(k, my_dict[k])
    
for k,v in my_dict.items():
    print(k, v)

name 파이썬
addr 서울
name 파이썬
addr 서울

In [51]:
# packing
my_list = [10,20]
# unpacking
n1,n2 = my_list
print(n1)
print(n2)

10
20

In [53]:
# 함수에서 tuple을 반환
def swap(a,b):
    return (b,a)

In [55]:
(n1,n2) = swap(10,20)
print(n1)
print(n2)

20
10

### List Comprehension
* [Code Style](https://docs.python-guide.org/writing/style/)
* [Pythonic Code](https://nunenuh.medium.com/how-to-write-pythonic-code-e19b1562fd5)

In [57]:
squares = []
for i in range(10): #0~9
    if i % 2 == 0:
        squares.append(i * i)

print(squares)

[0, 4, 16, 36, 64]

In [59]:
# list comprehension

squares2 = [i*i for i in range(10) if i % 2 == 0]
squares2

[0, 4, 16, 36, 64]

In [61]:
'H e l l o'.split(' ')

['H', 'e', 'l', 'l', 'o']

In [63]:
def get_text_list():
    lists = []
    with open('data/yesterday.txt', 'r',encoding="utf8") as file:
        contents = file.read()
        lists = contents.split("\n")

    return lists

In [65]:
lyric_list = get_text_list()
print(len(lyric_list))
lyric_list2 = [lyric for lyric in lyric_list if len(lyric) != 0]
print(len(lyric_list2))

23
17

In [67]:
my_list = ['a','b','c']
my_list[0:2]

['a', 'b']

In [69]:
my_list[2:]

['c']

In [71]:
my_list[:2]

['a', 'b']

In [73]:
# range() 와 numpy의 arange() 함수 비교
print(range(10))
print(list(range(10)))
for data in range(10):
    print(data)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9

In [75]:
import numpy as np

np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [77]:
#lambda x, loc: "{:,}".format(int(x)
def my_format(val):
    return "{:,}".format(int(val))

In [79]:
my_format("1028326272727")

'1,028,326,272,727'

In [81]:
result = lambda val:"{:,}".format(int(val))

In [83]:
result("38383823823940")

'38,383,823,823,940'

In [85]:
dt_list=['이름','취미','나이']
dd_list=['파이썬','독서','20']
for data in zip(dt_list,dd_list):
    print(data)

('이름', '파이썬')
('취미', '독서')
('나이', '20')

In [89]:
zip(dt_list,dd_list)

In [91]:
dict(zip(dt_list,dd_list))

{'이름': '파이썬', '취미': '독서', '나이': '20'}

In [93]:
#age = today.year - birth.year - ((today.month, today.day) < (birth.month, birth.day))
#calc_age(date(1990,1,1))   calc_age(date(1990,12,17)
(12,15) < (1,1)  # False0

False

In [95]:
(12,15) < (12,17) # True 1

True

In [97]:
my_list300 = []
my_list10 = ['a','b']

In [99]:
my_list.append('c')
my_list

['a', 'b', 'c', 'c']

In [113]:
my_list.extend(my_list2)
my_list

NameError: name 'my_list2' is not defined

In [115]:
my_str = "hello/world".split("/")
my_str

['hello', 'world']